.container88x31 {
    display: flex;
    flex-wrap: wrap;
	padding: 0.5rem;
	overflow: hidden;
	image-rendering: pixelated;
}

.container88x31 img {
	display: block;
	box-shadow:
		inset 0px 0px 0px 1px light-dark(#3c3c3c1f, #ffffff1f),
		2px 2px 5px light-dark(#0000000f, #0000005b);;
}

.container88x31 a {
  text-decoration: none !important;
}
